﻿@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}

@section scripts {
    @Scripts.Render("~/bundles/custom")
}

<style type="text/css">
      #arenaCanvas {
          border: 1px solid black;
          cursor: url('Images/Custom/cursor.png'), default;
      }
</style>

<body onload="load();">
    <canvas id="arenaCanvas" width="150" height="150">
        Your browser does not support the HTML5 canvas element.
    </canvas>
</body>
